# Main git ignore
mysql/*

# ignore everything in the root except the "wp-content" directory.
!wordpress/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wordpress/wp-content/*
!wordpress/wp-content/mu-plugins/
!wordpress/wp-content/plugins/
!wordpress/wp-content/themes/
# retract theme functions.php
!wordpress/wp-content/themes/twentytwentyone/functions.php

# ignore specific themes
wordpress/wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
